<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <style>
      a, a:link, a:visited { color: blue; cursor: pointer; text-decoration: underline; }
      a:hover { text-decoration: none; }
    </style>
  </head>
  <body style="font-family: monospace;font-size:14px;padding: 21px 7px;">
    <h1 style="font-weight: bold;font-size:1em;margin:0 0 3px;">{{ title }}</h1>
    <div>{{{ instructions }}}</div>

    {{#if contents}}
    <div style="margin: 14px 0 7px;">
      {{{ contents }}}
    </div>
    {{/if}}

    <div style="margin-top: 28px;font-size: 12px;">
      {{#each utils}}
        <a href="{{path}}">{{title}}</a>
      {{/each}}
    </div>
  </body>
</html>
