<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="build" content="{{ buildinfo.rev }}">

  <style>
    a,
    a:link,
    a:visited {
      color: blue;
      cursor: pointer;
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
    }
  </style>

  <script async src="https://www.googletagmanager.com/gtag/js?id={{ const.social.ga.id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ const.social.ga.id }}');
  </script>
</head>

<body style="font-family: monospace;font-size:14px;padding: 21px 7px;">
  <div style="margin-bottom: 4px;font-size: 12px;">
    {{#each utils}}
    <a href="{{path}}">{{title}}</a>
    {{/each}}
  </div>
  {{#if const.version }}
  <div style="color: grey; margin: 4px 0 20px; font-size: 10px">Version: {{ const.version }}</div>
  {{/if}}


  <h1 style="font-weight: bold;font-size:1em;margin:0 0 3px;">{{ title }}</h1>
  <div>{{{ instructions }}}</div>

  {{#if contents}}
  <div style="margin: 14px 0 7px;">
    {{{ contents }}}
  </div>
  {{/if}}
</body>

</html>
